modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_PAYPAL_CLIENT_ID = "AQkBIoCf0c4ENKlA67RZfJ2IxBUD5eIoP6EhXPpkL_Q3cKtKKdPqdFCHOdMJqwAQr8M4Y4C5uLah31dA"
VITE_PAYPAL_PLAN_ID = "P-9KN958225R794443YNHHZ57Q"
PAYPAL_CLIENT_ID = "AQkBIoCf0c4ENKlA67RZfJ2IxBUD5eIoP6EhXPpkL_Q3cKtKKdPqdFCHOdMJqwAQr8M4Y4C5uLah31dA"
PAYPAL_MODE = "live"

[nix]
channel = "stable-25_05"
